@{
    Layout = null;
}

@model IList<Narc.Domain.MyTest>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View1</title>
</head>
<body>
    <div>
        @foreach (var item in Model)
        {
            @item.Id <span>:</span> @item.Name<br />
        }
    </div>
</body>
</html>
