<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <!--MySql-->
    <add name="Darc" providerName="MySql.Data.MySqlClient"
         connectionString="Data Source=127.0.0.1;Database=test;User Id=root;Password=usbw;CharSet=utf8;port=3307" />
  </connectionStrings>
  <!--MySql-->
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient"
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>